{%  extends 'base.html.twig' %}
{% block body %}
    <h1>Dodaj Kontakt!</h1>
    {{ form_start(AddForm) }}
    {{ form_widget(AddForm) }}
{#    {{ form_row(AddForm.Name) }}#}
{#    {{ form_row(AddForm.last_name) }}#}
{#    {{ form_row(AddForm.phone_number) }}#}
{#    {{ form_row(AddForm.locality) }}#}
{#    {{ form_row(AddForm.zip_code) }}#}
{#    {{ form_row(AddForm.street) }}#}
{#    {{ form_row(AddForm.number_of_the_bulding) }}#}
{#    {{ form_row(AddForm.number_apartment) }}#}

        <button type="submit" name="submit" id="submit">Zapisz!</button>
{#    </form>#}
    <a href="{{ path('phoneBook') }}">Powrót do Książki Telefonicznej</a>

    {{ form_end(AddForm) }}
{% endblock %}