{%  extends 'base.html.twig' %}
{% block body %}
<h1>Szczegóły kontaktu</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Numer telefonu</th>
            <th>Miejscowość</th>
            <th>Kod pocztowy</th>
            <th>Ulica</th>
            <th>Numer budynku</th>
            <th>Numer mieszkania</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.getLastName() }}</td>
                <td>{{ contact.getPhoneNumber() }}</td>
                <td>{{ contact.getLocality() }}</td>
                <td>{{ contact.getZipCode() }}</td>
                <td>{{ contact.getStreet() }}</td>
                <td>{{ contact.getNumberOfTheBulding() }}</td>
                <td>{{ contact.getNumberApartment() }}</td>
                <td><a href="{{ path('EditContact',{slug: contact.id })}}">Edytuj</a> |
                    <a href="{{ path('DeleteContact',{slug: contact.id })}}">Usuń</a> |</td>
            </tr>
        </tbody>
    </table>
{% endblock %}